nodered/flows_backup.json
[{"id":"476ae883","type":"mqtt-broker","name":"Zigbee2MQTT","broker":"192.168.0.201","port":1883,"clientid":"","autoConnect":true,"usetls":false,"protocolVersion":4,"keepalive":60,"cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"27273867","type":"tab","label":"Zigbee Devices","disabled":false,"info":""},{"id":"1be660f9","type":"tab","label":"Dashboard Controls","disabled":false,"info":""},{"id":"139c594f","type":"ui-base","name":"SmartHouse","path":"/dashboard","includeClientData":true,"acceptsClientConfig":["ui-notification","ui-control"],"showPathInSidebar":false},{"id":"b45b9e67","type":"ui-theme","name":"Default Theme","colors":{"surface":"#ffffff","primary":"#0094CE","bgPage":"#eeeeee","groupBg":"#ffffff","groupOutline":"#cccccc"}},{"id":"cc7d07aa","type":"ui-page","name":"Controls","ui":"139c594f","path":"/","icon":"home","layout":"grid","theme":"b45b9e67","order":0,"className":"","visible":"true"},{"id":"605f50de","type":"ui-page","name":"Sensors","ui":"139c594f","path":"/sensors","icon":"chart-line","layout":"grid","theme":"b45b9e67","order":1,"className":"","visible":"true"},{"id":"aedafbac","type":"ui-group","name":"Lights","page":"cc7d07aa","width":6,"height":1,"order":0,"showTitle":true,"className":"","visible":"true"},{"id":"ccc81a86","type":"ui-group","name":"Plugs","page":"cc7d07aa","width":6,"height":1,"order":1,"showTitle":true,"className":"","visible":"true"},{"id":"628fe72e","type":"ui-group","name":"Sensors","page":"605f50de","width":12,"height":1,"order":0,"showTitle":true,"className":"","visible":"true"},{"id":"c325f784","type":"mqtt in","z":"27273867","name":"LR-LUTV","topic":"zigbee2mqtt/LR-LUTV","datatype":"json","broker":"476ae883","inputs":0,"x":180,"y":80,"wires":[["600afe0c"]]},{"id":"600afe0c","type":"debug","z":"27273867","name":"light — state, brightness","active":true,"tosidebar":true,"complete":"payload","targetType":"msg","x":420,"y":80,"wires":[]},{"id":"63655b84","type":"mqtt in","z":"27273867","name":"DEH","topic":"zigbee2mqtt/DEH","datatype":"json","broker":"476ae883","inputs":0,"x":180,"y":140,"wires":[["7955fa98"]]},{"id":"7955fa98","type":"debug","z":"27273867","name":"plug — state, power, energy","active":true,"tosidebar":true,"complete":"payload","targetType":"msg","x":420,"y":140,"wires":[]},{"id":"258c4bdb","type":"mqtt in","z":"27273867","name":"g-sp-car-charge","topic":"zigbee2mqtt/g-sp-car-charge","datatype":"json","broker":"476ae883","inputs":0,"x":180,"y":200,"wires":[["0acf4268"]]},{"id":"0acf4268","type":"debug","z":"27273867","name":"plug — state, power, energy","active":true,"tosidebar":true,"complete":"payload","targetType":"msg","x":420,"y":200,"wires":[]},{"id":"09923e57","type":"mqtt in","z":"27273867","name":"denys-monitor","topic":"zigbee2mqtt/denys-monitor","datatype":"json","broker":"476ae883","inputs":0,"x":180,"y":260,"wires":[["6f934061"]]},{"id":"6f934061","type":"debug","z":"27273867","name":"plug — state, power, energy","active":true,"tosidebar":true,"complete":"payload","targetType":"msg","x":420,"y":260,"wires":[]},{"id":"1b51d8f5","type":"mqtt in","z":"27273867","name":"MB-LOB","topic":"zigbee2mqtt/MB-LOB","datatype":"json","broker":"476ae883","inputs":0,"x":180,"y":320,"wires":[["6ec2b909"]]},{"id":"6ec2b909","type":"debug","z":"27273867","name":"light — state, brightness","active":true,"tosidebar":true,"complete":"payload","targetType":"msg","x":420,"y":320,"wires":[]},{"id":"cd3d29cf","type":"mqtt in","z":"27273867","name":"MB-LOTV","topic":"zigbee2mqtt/MB-LOTV","datatype":"json","broker":"476ae883","inputs":0,"x":180,"y":380,"wires":[["fee067d2"]]},{"id":"fee067d2","type":"debug","z":"27273867","name":"light — state, brightness","active":true,"tosidebar":true,"complete":"payload","targetType":"msg","x":420,"y":380,"wires":[]},{"id":"78b7f64a","type":"mqtt in","z":"27273867","name":"mb-lis-outdoor","topic":"zigbee2mqtt/mb-lis-outdoor","datatype":"json","broker":"476ae883","inputs":0,"x":180,"y":440,"wires":[["c0e4598b"]]},{"id":"c0e4598b","type":"debug","z":"27273867","name":"sensor — illuminance, battery","active":true,"tosidebar":true,"complete":"payload","targetType":"msg","x":420,"y":440,"wires":[]},{"id":"35846463","type":"mqtt in","z":"27273867","name":"TER-LIGHTS","topic":"zigbee2mqtt/TER-LIGHTS","datatype":"json","broker":"476ae883","inputs":0,"x":180,"y":500,"wires":[["a42cf4fc"]]},{"id":"a42cf4fc","type":"debug","z":"27273867","name":"switch — state","active":true,"tosidebar":true,"complete":"payload","targetType":"msg","x":420,"y":500,"wires":[]},{"id":"4852300d","type":"mqtt in","z":"27273867","name":"out","topic":"zigbee2mqtt/out","datatype":"json","broker":"476ae883","inputs":0,"x":180,"y":560,"wires":[["52dfb5e3"]]},{"id":"52dfb5e3","type":"debug","z":"27273867","name":"sensor — temp, humidity, battery","active":true,"tosidebar":true,"complete":"payload","targetType":"msg","x":420,"y":560,"wires":[]},{"id":"ca7fa284","type":"mqtt in","z":"27273867","name":"ac-thermostat","topic":"zigbee2mqtt/ac-thermostat","datatype":"json","broker":"476ae883","inputs":0,"x":180,"y":620,"wires":[["3fb8f5d9"]]},{"id":"3fb8f5d9","type":"debug","z":"27273867","name":"thermostat — state, local_temperature","active":true,"tosidebar":true,"complete":"payload","targetType":"msg","x":420,"y":620,"wires":[]},{"id":"3a6e6736","type":"mqtt in","z":"27273867","name":"0xa4c138b53c1c52c4","topic":"zigbee2mqtt/0xa4c138b53c1c52c4","datatype":"json","broker":"476ae883","inputs":0,"x":180,"y":680,"wires":[["e8d7ee78"]]},{"id":"e8d7ee78","type":"debug","z":"27273867","name":"sensor — vibration, contact, battery","active":true,"tosidebar":true,"complete":"payload","targetType":"msg","x":420,"y":680,"wires":[]},{"id":"e7e6a0e8","type":"mqtt in","z":"1be660f9","name":"LR-LUTV","topic":"zigbee2mqtt/LR-LUTV","datatype":"json","broker":"476ae883","inputs":0,"x":100,"y":80,"wires":[["b9004b62"]]},{"id":"b9004b62","type":"function","z":"1be660f9","name":"state→bool","func":"msg.payload = !!(msg.payload && msg.payload.state === 'ON');\nreturn msg;","outputs":1,"x":260,"y":80,"wires":[["39e8f285"]]},{"id":"39e8f285","type":"ui-switch","z":"1be660f9","name":"LR LED Under TV","label":"LR LED Under TV","group":"aedafbac","order":0,"width":3,"height":1,"passthru":false,"decouple":false,"topic":"","topicType":"str","className":"","layout":"","clickableArea":"switch","onvalue":"true","onvalueType":"str","onicon":"","oncolor":"","offvalue":"false","offvalueType":"str","officon":"","offcolor":"","x":420,"y":80,"wires":[["6f5493ce"]]},{"id":"6f5493ce","type":"function","z":"1be660f9","name":"bool→state","func":"msg.payload = JSON.stringify({\"state\": msg.payload ? \"ON\" : \"OFF\"});\nreturn msg;","outputs":1,"x":580,"y":80,"wires":[["0329d25e"]]},{"id":"0329d25e","type":"mqtt out","z":"1be660f9","name":"LR LED Under TV","topic":"zigbee2mqtt/LR-LUTV/set","qos":"0","retain":false,"broker":"476ae883","x":760,"y":80,"wires":[]},{"id":"14e7c17e","type":"mqtt in","z":"1be660f9","name":"MB-LOB","topic":"zigbee2mqtt/MB-LOB","datatype":"json","broker":"476ae883","inputs":0,"x":100,"y":140,"wires":[["9b0a99a0"]]},{"id":"9b0a99a0","type":"function","z":"1be660f9","name":"state→bool","func":"msg.payload = !!(msg.payload && msg.payload.state === 'ON');\nreturn msg;","outputs":1,"x":260,"y":140,"wires":[["4948e214"]]},{"id":"4948e214","type":"ui-switch","z":"1be660f9","name":"MB LED Over Bed","label":"MB LED Over Bed","group":"aedafbac","order":1,"width":3,"height":1,"passthru":false,"topic":"","topicType":"str","onvalue":"true","offvalue":"false","x":420,"y":140,"wires":[["47813c38"]]},{"id":"47813c38","type":"function","z":"1be660f9","name":"bool→state","func":"msg.payload = JSON.stringify({\"state\": msg.payload ? \"ON\" : \"OFF\"});\nreturn msg;","outputs":1,"x":580,"y":140,"wires":[["0cc1e55d"]]},{"id":"0cc1e55d","type":"mqtt out","z":"1be660f9","name":"MB LED Over Bed","topic":"zigbee2mqtt/MB-LOB/set","qos":"0","retain":false,"respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"476ae883","x":760,"y":140,"wires":[]},{"id":"9f7a02a1","type":"mqtt in","z":"1be660f9","name":"MB-LOTV","topic":"zigbee2mqtt/MB-LOTV","datatype":"json","broker":"476ae883","inputs":0,"x":100,"y":200,"wires":[["1e5b2df0"]]},{"id":"1e5b2df0","type":"function","z":"1be660f9","name":"state→bool","func":"msg.payload = !!(msg.payload && msg.payload.state === 'ON');\nreturn msg;","outputs":1,"x":260,"y":200,"wires":[["77b61bb6"]]},{"id":"77b61bb6","type":"ui-switch","z":"1be660f9","name":"MB LED Over TV","label":"MB LED Over TV","group":"aedafbac","order":2,"width":3,"height":1,"passthru":false,"topic":"","topicType":"str","onvalue":"true","offvalue":"false","x":420,"y":200,"wires":[["d2bdf2eb"]]},{"id":"d2bdf2eb","type":"function","z":"1be660f9","name":"bool→state","func":"msg.payload = JSON.stringify({\"state\": msg.payload ? \"ON\" : \"OFF\"});\nreturn msg;","outputs":1,"x":580,"y":200,"wires":[["ef29a3f9"]]},{"id":"ef29a3f9","type":"mqtt out","z":"1be660f9","name":"MB LED Over TV","topic":"zigbee2mqtt/MB-LOTV/set","qos":"0","retain":false,"broker":"476ae883","x":760,"y":200,"wires":[]},{"id":"596e7fa8","type":"mqtt in","z":"1be660f9","name":"TER-LIGHTS","topic":"zigbee2mqtt/TER-LIGHTS","datatype":"json","broker":"476ae883","inputs":0,"x":100,"y":260,"wires":[["22ac143b"]]},{"id":"22ac143b","type":"function","z":"1be660f9","name":"state→bool","func":"msg.payload = !!(msg.payload && msg.payload.state === 'ON');\nreturn msg;","outputs":1,"x":260,"y":260,"wires":[["0ff45cf5"]]},{"id":"0ff45cf5","type":"ui-switch","z":"1be660f9","name":"Terrace Lights","label":"Terrace Lights","group":"aedafbac","order":3,"width":3,"height":1,"passthru":false,"topic":"","topicType":"str","onvalue":"true","offvalue":"false","x":420,"y":260,"wires":[["658f1a6a"]]},{"id":"658f1a6a","type":"function","z":"1be660f9","name":"bool→state","func":"msg.payload = JSON.stringify({\"state\": msg.payload ? \"ON\" : \"OFF\"});\nreturn msg;","outputs":1,"x":580,"y":260,"wires":[["3afe72bf"]]},{"id":"3afe72bf","type":"mqtt out","z":"1be660f9","name":"Terrace Lights","topic":"zigbee2mqtt/TER-LIGHTS/set","qos":"0","retain":false,"broker":"476ae883","x":760,"y":260,"wires":[]},{"id":"c23a61c1","type":"mqtt in","z":"1be660f9","name":"DEH","topic":"zigbee2mqtt/DEH","datatype":"json","broker":"476ae883","inputs":0,"x":100,"y":320,"wires":[["f863c16c"]]},{"id":"f863c16c","type":"function","z":"1be660f9","name":"state→bool","func":"msg.payload = !!(msg.payload && msg.payload.state === 'ON');\nreturn msg;","outputs":1,"x":260,"y":320,"wires":[["99d7cc8e"]]},{"id":"99d7cc8e","type":"ui-switch","z":"1be660f9","name":"Dehumidifier","label":"Dehumidifier","group":"ccc81a86","order":0,"width":3,"height":1,"passthru":false,"topic":"","topicType":"str","onvalue":"true","offvalue":"false","x":420,"y":320,"wires":[["112e4e2e"]]},{"id":"112e4e2e","type":"function","z":"1be660f9","name":"bool→state","func":"msg.payload = JSON.stringify({\"state\": msg.payload ? \"ON\" : \"OFF\"});\nreturn msg;","outputs":1,"x":580,"y":320,"wires":[["684381a6"]]},{"id":"684381a6","type":"mqtt out","z":"1be660f9","name":"Dehumidifier","topic":"zigbee2mqtt/DEH/set","qos":"0","retain":false,"broker":"476ae883","x":760,"y":320,"wires":[]},{"id":"214ae9fe","type":"mqtt in","z":"1be660f9","name":"g-sp-car-charge","topic":"zigbee2mqtt/g-sp-car-charge","datatype":"json","broker":"476ae883","inputs":0,"x":100,"y":380,"wires":[["ee7b2594"]]},{"id":"ee7b2594","type":"function","z":"1be660f9","name":"state→bool","func":"msg.payload = !!(msg.payload && msg.payload.state === 'ON');\nreturn msg;","outputs":1,"x":260,"y":380,"wires":[["b1ff6ca8"]]},{"id":"b1ff6ca8","type":"ui-switch","z":"1be660f9","name":"Car Charger","label":"Car Charger","group":"ccc81a86","order":1,"width":3,"height":1,"passthru":false,"topic":"","topicType":"str","onvalue":"true","offvalue":"false","x":420,"y":380,"wires":[["579ebc81"]]},{"id":"579ebc81","type":"function","z":"1be660f9","name":"bool→state","func":"msg.payload = JSON.stringify({\"state\": msg.payload ? \"ON\" : \"OFF\"});\nreturn msg;","outputs":1,"x":580,"y":380,"wires":[["7721b775"]]},{"id":"7721b775","type":"mqtt out","z":"1be660f9","name":"Car Charger","topic":"zigbee2mqtt/g-sp-car-charge/set","qos":"0","retain":false,"broker":"476ae883","x":760,"y":380,"wires":[]},{"id":"f9e1a64c","type":"mqtt in","z":"1be660f9","name":"denys-monitor","topic":"zigbee2mqtt/denys-monitor","datatype":"json","broker":"476ae883","inputs":0,"x":100,"y":440,"wires":[["392aece3"]]},{"id":"392aece3","type":"function","z":"1be660f9","name":"state→bool","func":"msg.payload = !!(msg.payload && msg.payload.state === 'ON');\nreturn msg;","outputs":1,"x":260,"y":440,"wires":[["70a8130e"]]},{"id":"70a8130e","type":"ui-switch","z":"1be660f9","name":"Denys Monitor","label":"Denys Monitor","group":"ccc81a86","order":2,"width":3,"height":1,"passthru":false,"topic":"","topicType":"str","onvalue":"true","offvalue":"false","x":420,"y":440,"wires":[["42132c97"]]},{"id":"42132c97","type":"function","z":"1be660f9","name":"bool→state","func":"msg.payload = JSON.stringify({\"state\": msg.payload ? \"ON\" : \"OFF\"});\nreturn msg;","outputs":1,"x":580,"y":440,"wires":[["7d7d4665"]]},{"id":"7d7d4665","type":"mqtt out","z":"1be660f9","name":"Denys Monitor","topic":"zigbee2mqtt/denys-monitor/set","qos":"0","retain":false,"broker":"476ae883","x":760,"y":440,"wires":[]},{"id":"634c2c9c","type":"mqtt in","z":"1be660f9","name":"illuminance","topic":"zigbee2mqtt/mb-lis-outdoor","datatype":"json","broker":"476ae883","inputs":0,"x":100,"y":560,"wires":[["9a257e90"]]},{"id":"9a257e90","type":"function","z":"1be660f9","name":"extract","func":"msg.payload = (msg.payload.illuminance ?? 'N/A') + ' lux'; return msg;","outputs":1,"x":300,"y":560,"wires":[["febc2a43"]]},{"id":"febc2a43","type":"ui-text","z":"1be660f9","group":"628fe72e","order":0,"width":3,"height":1,"name":"Outdoor Illuminance","label":"Outdoor Illuminance","format":"{{msg.payload}}","layout":"row-left","x":480,"y":560,"wires":[]},{"id":"30cc96a8","type":"mqtt in","z":"1be660f9","name":"outdoor","topic":"zigbee2mqtt/out","datatype":"json","broker":"476ae883","inputs":0,"x":100,"y":620,"wires":[["e99bac3c"]]},{"id":"e99bac3c","type":"function","z":"1be660f9","name":"extract","func":"msg.payload = (msg.payload.temperature ?? 'N/A') + '°C  ' + (msg.payload.humidity ?? 'N/A') + '%'; return msg;","outputs":1,"x":300,"y":620,"wires":[["e703e05a"]]},{"id":"e703e05a","type":"ui-text","z":"1be660f9","group":"628fe72e","order":1,"width":3,"height":1,"name":"Outdoor Temp / RH","label":"Outdoor Temp / RH","format":"{{msg.payload}}","layout":"row-left","x":480,"y":620,"wires":[]},{"id":"07ef2e0e","type":"mqtt in","z":"1be660f9","name":"thermostat","topic":"zigbee2mqtt/ac-thermostat","datatype":"json","broker":"476ae883","inputs":0,"x":100,"y":680,"wires":[["c335076a"]]},{"id":"c335076a","type":"function","z":"1be660f9","name":"extract","func":"msg.payload = (msg.payload.local_temperature ?? 'N/A') + '°C'; return msg;","outputs":1,"x":300,"y":680,"wires":[["5f9c78c3"]]},{"id":"5f9c78c3","type":"ui-text","z":"1be660f9","group":"628fe72e","order":2,"width":3,"height":1,"name":"AC Room Temp","label":"AC Room Temp","format":"{{msg.payload}}","layout":"row-left","x":480,"y":680,"wires":[]},{"id":"a5ca9e56","type":"mqtt in","z":"1be660f9","name":"vibration","topic":"zigbee2mqtt/0xa4c138b53c1c52c4","datatype":"json","broker":"476ae883","inputs":0,"x":100,"y":740,"wires":[["3854bb88"]]},{"id":"3854bb88","type":"function","z":"1be660f9","name":"extract","func":"msg.payload = 'vib:' + (msg.payload.vibration ? 'YES' : 'no') + '  contact:' + (msg.payload.contact ? 'open' : 'closed'); return msg;","outputs":1,"x":300,"y":740,"wires":[["9b2558cf"]]},{"id":"9b2558cf","type":"ui-text","z":"1be660f9","group":"628fe72e","order":3,"width":3,"height":1,"name":"Vibration / Contact","label":"Vibration / Contact","format":"{{msg.payload}}","layout":"row-left","x":480,"y":740,"wires":[]},{"id":"ae61b2a3","type":"http in","z":"27273867","method":"get","url":"/probe","x":100,"y":900,"wires":[["ae3bd94b"]]},{"id":"ae3bd94b","type":"http response","z":"27273867","statusCode":200,"x":300,"y":900,"wires":[]}]