nodered/flows_to_deploy.json
[
  {
    "id": "476ae883",
    "type": "mqtt-broker",
    "name": "Zigbee2MQTT",
    "broker": "192.168.0.201",
    "port": 1883,
    "clientid": "",
    "autoConnect": true,
    "usetls": false,
    "protocolVersion": 4,
    "keepalive": 60,
    "cleansession": true,
    "autoUnsubscribe": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthRetain": "false",
    "birthPayload": "",
    "birthMsg": {},
    "closeTopic": "",
    "closeQos": "0",
    "closeRetain": "false",
    "closePayload": "",
    "closeMsg": {},
    "willTopic": "",
    "willQos": "0",
    "willRetain": "false",
    "willPayload": "",
    "willMsg": {},
    "userProps": "",
    "sessionExpiry": ""
  },
  {
    "id": "27273867",
    "type": "tab",
    "label": "Zigbee Devices",
    "disabled": false,
    "info": ""
  },
  {
    "id": "1be660f9",
    "type": "tab",
    "label": "Dashboard Controls",
    "disabled": false,
    "info": ""
  },
  {
    "id": "139c594f",
    "type": "ui-base",
    "name": "SmartHouse",
    "path": "/dashboard",
    "includeClientData": true,
    "acceptsClientConfig": [
      "ui-notification",
      "ui-control"
    ],
    "showPathInSidebar": false
  },
  {
    "id": "b45b9e67",
    "type": "ui-theme",
    "name": "Default Theme",
    "colors": {
      "surface": "#ffffff",
      "primary": "#0094CE",
      "bgPage": "#eeeeee",
      "groupBg": "#ffffff",
      "groupOutline": "#cccccc"
    }
  },
  {
    "id": "cc7d07aa",
    "type": "ui-page",
    "name": "Controls",
    "ui": "139c594f",
    "path": "/",
    "icon": "home",
    "layout": "grid",
    "theme": "b45b9e67",
    "order": 0,
    "className": "",
    "visible": "true"
  },
  {
    "id": "605f50de",
    "type": "ui-page",
    "name": "Sensors",
    "ui": "139c594f",
    "path": "/sensors",
    "icon": "chart-line",
    "layout": "grid",
    "theme": "b45b9e67",
    "order": 1,
    "className": "",
    "visible": "true"
  },
  {
    "id": "aedafbac",
    "type": "ui-group",
    "name": "Lights",
    "page": "cc7d07aa",
    "width": 6,
    "height": 1,
    "order": 0,
    "showTitle": true,
    "className": "",
    "visible": "true"
  },
  {
    "id": "ccc81a86",
    "type": "ui-group",
    "name": "Plugs",
    "page": "cc7d07aa",
    "width": 6,
    "height": 1,
    "order": 1,
    "showTitle": true,
    "className": "",
    "visible": "true"
  },
  {
    "id": "628fe72e",
    "type": "ui-group",
    "name": "Sensors",
    "page": "605f50de",
    "width": 12,
    "height": 1,
    "order": 0,
    "showTitle": true,
    "className": "",
    "visible": "true"
  },
  {
    "id": "c325f784",
    "type": "mqtt in",
    "z": "27273867",
    "name": "LR-LUTV",
    "topic": "zigbee2mqtt/LR-LUTV",
    "datatype": "json",
    "broker": "476ae883",
    "inputs": 0,
    "x": 180,
    "y": 80,
    "wires": [
      [
        "600afe0c"
      ]
    ]
  },
  {
    "id": "600afe0c",
    "type": "debug",
    "z": "27273867",
    "name": "light \u2014 state, brightness",
    "active": true,
    "tosidebar": true,
    "complete": "payload",
    "targetType": "msg",
    "x": 420,
    "y": 80,
    "wires": []
  },
  {
    "id": "63655b84",
    "type": "mqtt in",
    "z": "27273867",
    "name": "DEH",
    "topic": "zigbee2mqtt/DEH",
    "datatype": "json",
    "broker": "476ae883",
    "inputs": 0,
    "x": 180,
    "y": 140,
    "wires": [
      [
        "7955fa98"
      ]
    ]
  },
  {
    "id": "7955fa98",
    "type": "debug",
    "z": "27273867",
    "name": "plug \u2014 state, power, energy",
    "active": true,
    "tosidebar": true,
    "complete": "payload",
    "targetType": "msg",
    "x": 420,
    "y": 140,
    "wires": []
  },
  {
    "id": "258c4bdb",
    "type": "mqtt in",
    "z": "27273867",
    "name": "g-sp-car-charge",
    "topic": "zigbee2mqtt/g-sp-car-charge",
    "datatype": "json",
    "broker": "476ae883",
    "inputs": 0,
    "x": 180,
    "y": 200,
    "wires": [
      [
        "0acf4268"
      ]
    ]
  },
  {
    "id": "0acf4268",
    "type": "debug",
    "z": "27273867",
    "name": "plug \u2014 state, power, energy",
    "active": true,
    "tosidebar": true,
    "complete": "payload",
    "targetType": "msg",
    "x": 420,
    "y": 200,
    "wires": []
  },
  {
    "id": "09923e57",
    "type": "mqtt in",
    "z": "27273867",
    "name": "denys-monitor",
    "topic": "zigbee2mqtt/denys-monitor",
    "datatype": "json",
    "broker": "476ae883",
    "inputs": 0,
    "x": 180,
    "y": 260,
    "wires": [
      [
        "6f934061"
      ]
    ]
  },
  {
    "id": "6f934061",
    "type": "debug",
    "z": "27273867",
    "name": "plug \u2014 state, power, energy",
    "active": true,
    "tosidebar": true,
    "complete": "payload",
    "targetType": "msg",
    "x": 420,
    "y": 260,
    "wires": []
  },
  {
    "id": "1b51d8f5",
    "type": "mqtt in",
    "z": "27273867",
    "name": "MB-LOB",
    "topic": "zigbee2mqtt/MB-LOB",
    "datatype": "json",
    "broker": "476ae883",
    "inputs": 0,
    "x": 180,
    "y": 320,
    "wires": [
      [
        "6ec2b909"
      ]
    ]
  },
  {
    "id": "6ec2b909",
    "type": "debug",
    "z": "27273867",
    "name": "light \u2014 state, brightness",
    "active": true,
    "tosidebar": true,
    "complete": "payload",
    "targetType": "msg",
    "x": 420,
    "y": 320,
    "wires": []
  },
  {
    "id": "cd3d29cf",
    "type": "mqtt in",
    "z": "27273867",
    "name": "MB-LOTV",
    "topic": "zigbee2mqtt/MB-LOTV",
    "datatype": "json",
    "broker": "476ae883",
    "inputs": 0,
    "x": 180,
    "y": 380,
    "wires": [
      [
        "fee067d2"
      ]
    ]
  },
  {
    "id": "fee067d2",
    "type": "debug",
    "z": "27273867",
    "name": "light \u2014 state, brightness",
    "active": true,
    "tosidebar": true,
    "complete": "payload",
    "targetType": "msg",
    "x": 420,
    "y": 380,
    "wires": []
  },
  {
    "id": "78b7f64a",
    "type": "mqtt in",
    "z": "27273867",
    "name": "mb-lis-outdoor",
    "topic": "zigbee2mqtt/mb-lis-outdoor",
    "datatype": "json",
    "broker": "476ae883",
    "inputs": 0,
    "x": 180,
    "y": 440,
    "wires": [
      [
        "c0e4598b"
      ]
    ]
  },
  {
    "id": "c0e4598b",
    "type": "debug",
    "z": "27273867",
    "name": "sensor \u2014 illuminance, battery",
    "active": true,
    "tosidebar": true,
    "complete": "payload",
    "targetType": "msg",
    "x": 420,
    "y": 440,
    "wires": []
  },
  {
    "id": "35846463",
    "type": "mqtt in",
    "z": "27273867",
    "name": "TER-LIGHTS",
    "topic": "zigbee2mqtt/TER-LIGHTS",
    "datatype": "json",
    "broker": "476ae883",
    "inputs": 0,
    "x": 180,
    "y": 500,
    "wires": [
      [
        "a42cf4fc"
      ]
    ]
  },
  {
    "id": "a42cf4fc",
    "type": "debug",
    "z": "27273867",
    "name": "switch \u2014 state",
    "active": true,
    "tosidebar": true,
    "complete": "payload",
    "targetType": "msg",
    "x": 420,
    "y": 500,
    "wires": []
  },
  {
    "id": "4852300d",
    "type": "mqtt in",
    "z": "27273867",
    "name": "out",
    "topic": "zigbee2mqtt/out",
    "datatype": "json",
    "broker": "476ae883",
    "inputs": 0,
    "x": 180,
    "y": 560,
    "wires": [
      [
        "52dfb5e3"
      ]
    ]
  },
  {
    "id": "52dfb5e3",
    "type": "debug",
    "z": "27273867",
    "name": "sensor \u2014 temp, humidity, battery",
    "active": true,
    "tosidebar": true,
    "complete": "payload",
    "targetType": "msg",
    "x": 420,
    "y": 560,
    "wires": []
  },
  {
    "id": "ca7fa284",
    "type": "mqtt in",
    "z": "27273867",
    "name": "ac-thermostat",
    "topic": "zigbee2mqtt/ac-thermostat",
    "datatype": "json",
    "broker": "476ae883",
    "inputs": 0,
    "x": 180,
    "y": 620,
    "wires": [
      [
        "3fb8f5d9"
      ]
    ]
  },
  {
    "id": "3fb8f5d9",
    "type": "debug",
    "z": "27273867",
    "name": "thermostat \u2014 state, local_temperature",
    "active": true,
    "tosidebar": true,
    "complete": "payload",
    "targetType": "msg",
    "x": 420,
    "y": 620,
    "wires": []
  },
  {
    "id": "3a6e6736",
    "type": "mqtt in",
    "z": "27273867",
    "name": "0xa4c138b53c1c52c4",
    "topic": "zigbee2mqtt/0xa4c138b53c1c52c4",
    "datatype": "json",
    "broker": "476ae883",
    "inputs": 0,
    "x": 180,
    "y": 680,
    "wires": [
      [
        "e8d7ee78"
      ]
    ]
  },
  {
    "id": "e8d7ee78",
    "type": "debug",
    "z": "27273867",
    "name": "sensor \u2014 vibration, contact, battery",
    "active": true,
    "tosidebar": true,
    "complete": "payload",
    "targetType": "msg",
    "x": 420,
    "y": 680,
    "wires": []
  },
  {
    "id": "e7e6a0e8",
    "type": "mqtt in",
    "z": "1be660f9",
    "name": "LR-LUTV",
    "topic": "zigbee2mqtt/LR-LUTV",
    "datatype": "json",
    "broker": "476ae883",
    "inputs": 0,
    "x": 100,
    "y": 80,
    "wires": [
      [
        "b9004b62"
      ]
    ]
  },
  {
    "id": "b9004b62",
    "type": "function",
    "z": "1be660f9",
    "name": "state\u2192bool",
    "func": "msg.payload = !!(msg.payload && msg.payload.state === 'ON');\nreturn msg;",
    "outputs": 1,
    "x": 260,
    "y": 80,
    "wires": [
      [
        "39e8f285"
      ]
    ]
  },
  {
    "id": "39e8f285",
    "type": "ui-switch",
    "z": "1be660f9",
    "name": "LR LED Under TV",
    "label": "LR LED Under TV",
    "group": "aedafbac",
    "order": 0,
    "width": 3,
    "height": 1,
    "passthru": false,
    "decouple": false,
    "topic": "",
    "topicType": "str",
    "className": "",
    "layout": "",
    "clickableArea": "switch",
    "onvalue": "true",
    "onvalueType": "str",
    "onicon": "",
    "oncolor": "",
    "offvalue": "false",
    "offvalueType": "str",
    "officon": "",
    "offcolor": "",
    "x": 420,
    "y": 80,
    "wires": [
      [
        "6f5493ce"
      ]
    ]
  },
  {
    "id": "6f5493ce",
    "type": "function",
    "z": "1be660f9",
    "name": "bool\u2192state",
    "func": "msg.payload = JSON.stringify({\"state\": msg.payload ? \"ON\" : \"OFF\"});\nreturn msg;",
    "outputs": 1,
    "x": 580,
    "y": 80,
    "wires": [
      [
        "0329d25e"
      ]
    ]
  },
  {
    "id": "0329d25e",
    "type": "mqtt out",
    "z": "1be660f9",
    "name": "LR LED Under TV",
    "topic": "zigbee2mqtt/LR-LUTV/set",
    "qos": "0",
    "retain": false,
    "broker": "476ae883",
    "x": 760,
    "y": 80,
    "wires": []
  },
  {
    "id": "14e7c17e",
    "type": "mqtt in",
    "z": "1be660f9",
    "name": "MB-LOB",
    "topic": "zigbee2mqtt/MB-LOB",
    "datatype": "json",
    "broker": "476ae883",
    "inputs": 0,
    "x": 100,
    "y": 140,
    "wires": [
      [
        "9b0a99a0"
      ]
    ]
  },
  {
    "id": "9b0a99a0",
    "type": "function",
    "z": "1be660f9",
    "name": "state\u2192bool",
    "func": "msg.payload = !!(msg.payload && msg.payload.state === 'ON');\nreturn msg;",
    "outputs": 1,
    "x": 260,
    "y": 140,
    "wires": [
      [
        "4948e214"
      ]
    ]
  },
  {
    "id": "4948e214",
    "type": "ui-switch",
    "z": "1be660f9",
    "name": "MB LED Over Bed",
    "label": "MB LED Over Bed",
    "group": "aedafbac",
    "order": 1,
    "width": 3,
    "height": 1,
    "passthru": false,
    "topic": "",
    "topicType": "str",
    "onvalue": "true",
    "offvalue": "false",
    "x": 420,
    "y": 140,
    "wires": [
      [
        "47813c38"
      ]
    ]
  },
  {
    "id": "47813c38",
    "type": "function",
    "z": "1be660f9",
    "name": "bool\u2192state",
    "func": "msg.payload = JSON.stringify({\"state\": msg.payload ? \"ON\" : \"OFF\"});\nreturn msg;",
    "outputs": 1,
    "x": 580,
    "y": 140,
    "wires": [
      [
        "0cc1e55d"
      ]
    ]
  },
  {
    "id": "0cc1e55d",
    "type": "mqtt out",
    "z": "1be660f9",
    "name": "MB LED Over Bed",
    "topic": "zigbee2mqtt/MB-LOB/set",
    "qos": "0",
    "retain": false,
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "476ae883",
    "x": 760,
    "y": 140,
    "wires": []
  },
  {
    "id": "9f7a02a1",
    "type": "mqtt in",
    "z": "1be660f9",
    "name": "MB-LOTV",
    "topic": "zigbee2mqtt/MB-LOTV",
    "datatype": "json",
    "broker": "476ae883",
    "inputs": 0,
    "x": 100,
    "y": 200,
    "wires": [
      [
        "1e5b2df0"
      ]
    ]
  },
  {
    "id": "1e5b2df0",
    "type": "function",
    "z": "1be660f9",
    "name": "state\u2192bool",
    "func": "msg.payload = !!(msg.payload && msg.payload.state === 'ON');\nreturn msg;",
    "outputs": 1,
    "x": 260,
    "y": 200,
    "wires": [
      [
        "77b61bb6"
      ]
    ]
  },
  {
    "id": "77b61bb6",
    "type": "ui-switch",
    "z": "1be660f9",
    "name": "MB LED Over TV",
    "label": "MB LED Over TV",
    "group": "aedafbac",
    "order": 2,
    "width": 3,
    "height": 1,
    "passthru": false,
    "topic": "",
    "topicType": "str",
    "onvalue": "true",
    "offvalue": "false",
    "x": 420,
    "y": 200,
    "wires": [
      [
        "d2bdf2eb"
      ]
    ]
  },
  {
    "id": "d2bdf2eb",
    "type": "function",
    "z": "1be660f9",
    "name": "bool\u2192state",
    "func": "msg.payload = JSON.stringify({\"state\": msg.payload ? \"ON\" : \"OFF\"});\nreturn msg;",
    "outputs": 1,
    "x": 580,
    "y": 200,
    "wires": [
      [
        "ef29a3f9"
      ]
    ]
  },
  {
    "id": "ef29a3f9",
    "type": "mqtt out",
    "z": "1be660f9",
    "name": "MB LED Over TV",
    "topic": "zigbee2mqtt/MB-LOTV/set",
    "qos": "0",
    "retain": false,
    "broker": "476ae883",
    "x": 760,
    "y": 200,
    "wires": []
  },
  {
    "id": "596e7fa8",
    "type": "mqtt in",
    "z": "1be660f9",
    "name": "TER-LIGHTS",
    "topic": "zigbee2mqtt/TER-LIGHTS",
    "datatype": "json",
    "broker": "476ae883",
    "inputs": 0,
    "x": 100,
    "y": 260,
    "wires": [
      [
        "22ac143b"
      ]
    ]
  },
  {
    "id": "22ac143b",
    "type": "function",
    "z": "1be660f9",
    "name": "state\u2192bool",
    "func": "msg.payload = !!(msg.payload && msg.payload.state === 'ON');\nreturn msg;",
    "outputs": 1,
    "x": 260,
    "y": 260,
    "wires": [
      [
        "0ff45cf5"
      ]
    ]
  },
  {
    "id": "0ff45cf5",
    "type": "ui-switch",
    "z": "1be660f9",
    "name": "Terrace Lights",
    "label": "Terrace Lights",
    "group": "aedafbac",
    "order": 3,
    "width": 3,
    "height": 1,
    "passthru": false,
    "topic": "",
    "topicType": "str",
    "onvalue": "true",
    "offvalue": "false",
    "x": 420,
    "y": 260,
    "wires": [
      [
        "658f1a6a"
      ]
    ]
  },
  {
    "id": "658f1a6a",
    "type": "function",
    "z": "1be660f9",
    "name": "bool\u2192state",
    "func": "msg.payload = JSON.stringify({\"state\": msg.payload ? \"ON\" : \"OFF\"});\nreturn msg;",
    "outputs": 1,
    "x": 580,
    "y": 260,
    "wires": [
      [
        "3afe72bf"
      ]
    ]
  },
  {
    "id": "3afe72bf",
    "type": "mqtt out",
    "z": "1be660f9",
    "name": "Terrace Lights",
    "topic": "zigbee2mqtt/TER-LIGHTS/set",
    "qos": "0",
    "retain": false,
    "broker": "476ae883",
    "x": 760,
    "y": 260,
    "wires": []
  },
  {
    "id": "c23a61c1",
    "type": "mqtt in",
    "z": "1be660f9",
    "name": "DEH",
    "topic": "zigbee2mqtt/DEH",
    "datatype": "json",
    "broker": "476ae883",
    "inputs": 0,
    "x": 100,
    "y": 320,
    "wires": [
      [
        "f863c16c"
      ]
    ]
  },
  {
    "id": "f863c16c",
    "type": "function",
    "z": "1be660f9",
    "name": "state\u2192bool",
    "func": "msg.payload = !!(msg.payload && msg.payload.state === 'ON');\nreturn msg;",
    "outputs": 1,
    "x": 260,
    "y": 320,
    "wires": [
      [
        "99d7cc8e"
      ]
    ]
  },
  {
    "id": "99d7cc8e",
    "type": "ui-switch",
    "z": "1be660f9",
    "name": "Dehumidifier",
    "label": "Dehumidifier",
    "group": "ccc81a86",
    "order": 0,
    "width": 3,
    "height": 1,
    "passthru": false,
    "topic": "",
    "topicType": "str",
    "onvalue": "true",
    "offvalue": "false",
    "x": 420,
    "y": 320,
    "wires": [
      [
        "112e4e2e"
      ]
    ]
  },
  {
    "id": "112e4e2e",
    "type": "function",
    "z": "1be660f9",
    "name": "bool\u2192state",
    "func": "msg.payload = JSON.stringify({\"state\": msg.payload ? \"ON\" : \"OFF\"});\nreturn msg;",
    "outputs": 1,
    "x": 580,
    "y": 320,
    "wires": [
      [
        "684381a6"
      ]
    ]
  },
  {
    "id": "684381a6",
    "type": "mqtt out",
    "z": "1be660f9",
    "name": "Dehumidifier",
    "topic": "zigbee2mqtt/DEH/set",
    "qos": "0",
    "retain": false,
    "broker": "476ae883",
    "x": 760,
    "y": 320,
    "wires": []
  },
  {
    "id": "214ae9fe",
    "type": "mqtt in",
    "z": "1be660f9",
    "name": "g-sp-car-charge",
    "topic": "zigbee2mqtt/g-sp-car-charge",
    "datatype": "json",
    "broker": "476ae883",
    "inputs": 0,
    "x": 100,
    "y": 380,
    "wires": [
      [
        "ee7b2594"
      ]
    ]
  },
  {
    "id": "ee7b2594",
    "type": "function",
    "z": "1be660f9",
    "name": "state\u2192bool",
    "func": "msg.payload = !!(msg.payload && msg.payload.state === 'ON');\nreturn msg;",
    "outputs": 1,
    "x": 260,
    "y": 380,
    "wires": [
      [
        "b1ff6ca8"
      ]
    ]
  },
  {
    "id": "b1ff6ca8",
    "type": "ui-switch",
    "z": "1be660f9",
    "name": "Car Charger",
    "label": "Car Charger",
    "group": "ccc81a86",
    "order": 1,
    "width": 3,
    "height": 1,
    "passthru": false,
    "topic": "",
    "topicType": "str",
    "onvalue": "true",
    "offvalue": "false",
    "x": 420,
    "y": 380,
    "wires": [
      [
        "579ebc81"
      ]
    ]
  },
  {
    "id": "579ebc81",
    "type": "function",
    "z": "1be660f9",
    "name": "bool\u2192state",
    "func": "msg.payload = JSON.stringify({\"state\": msg.payload ? \"ON\" : \"OFF\"});\nreturn msg;",
    "outputs": 1,
    "x": 580,
    "y": 380,
    "wires": [
      [
        "7721b775"
      ]
    ]
  },
  {
    "id": "7721b775",
    "type": "mqtt out",
    "z": "1be660f9",
    "name": "Car Charger",
    "topic": "zigbee2mqtt/g-sp-car-charge/set",
    "qos": "0",
    "retain": false,
    "broker": "476ae883",
    "x": 760,
    "y": 380,
    "wires": []
  },
  {
    "id": "f9e1a64c",
    "type": "mqtt in",
    "z": "1be660f9",
    "name": "denys-monitor",
    "topic": "zigbee2mqtt/denys-monitor",
    "datatype": "json",
    "broker": "476ae883",
    "inputs": 0,
    "x": 100,
    "y": 440,
    "wires": [
      [
        "392aece3"
      ]
    ]
  },
  {
    "id": "392aece3",
    "type": "function",
    "z": "1be660f9",
    "name": "state\u2192bool",
    "func": "msg.payload = !!(msg.payload && msg.payload.state === 'ON');\nreturn msg;",
    "outputs": 1,
    "x": 260,
    "y": 440,
    "wires": [
      [
        "70a8130e"
      ]
    ]
  },
  {
    "id": "70a8130e",
    "type": "ui-switch",
    "z": "1be660f9",
    "name": "Denys Monitor",
    "label": "Denys Monitor",
    "group": "ccc81a86",
    "order": 2,
    "width": 3,
    "height": 1,
    "passthru": false,
    "topic": "",
    "topicType": "str",
    "onvalue": "true",
    "offvalue": "false",
    "x": 420,
    "y": 440,
    "wires": [
      [
        "42132c97"
      ]
    ]
  },
  {
    "id": "42132c97",
    "type": "function",
    "z": "1be660f9",
    "name": "bool\u2192state",
    "func": "msg.payload = JSON.stringify({\"state\": msg.payload ? \"ON\" : \"OFF\"});\nreturn msg;",
    "outputs": 1,
    "x": 580,
    "y": 440,
    "wires": [
      [
        "7d7d4665"
      ]
    ]
  },
  {
    "id": "7d7d4665",
    "type": "mqtt out",
    "z": "1be660f9",
    "name": "Denys Monitor",
    "topic": "zigbee2mqtt/denys-monitor/set",
    "qos": "0",
    "retain": false,
    "broker": "476ae883",
    "x": 760,
    "y": 440,
    "wires": []
  },
  {
    "id": "634c2c9c",
    "type": "mqtt in",
    "z": "1be660f9",
    "name": "illuminance",
    "topic": "zigbee2mqtt/mb-lis-outdoor",
    "datatype": "json",
    "broker": "476ae883",
    "inputs": 0,
    "x": 100,
    "y": 560,
    "wires": [
      [
        "9a257e90"
      ]
    ]
  },
  {
    "id": "9a257e90",
    "type": "function",
    "z": "1be660f9",
    "name": "extract",
    "func": "msg.payload = (msg.payload.illuminance ?? 'N/A') + ' lux'; return msg;",
    "outputs": 1,
    "x": 300,
    "y": 560,
    "wires": [
      [
        "febc2a43"
      ]
    ]
  },
  {
    "id": "febc2a43",
    "type": "ui-text",
    "z": "1be660f9",
    "group": "628fe72e",
    "order": 0,
    "width": 3,
    "height": 1,
    "name": "Outdoor Illuminance",
    "label": "Outdoor Illuminance",
    "format": "{{msg.payload}}",
    "layout": "row-left",
    "x": 480,
    "y": 560,
    "wires": []
  },
  {
    "id": "30cc96a8",
    "type": "mqtt in",
    "z": "1be660f9",
    "name": "outdoor",
    "topic": "zigbee2mqtt/out",
    "datatype": "json",
    "broker": "476ae883",
    "inputs": 0,
    "x": 100,
    "y": 620,
    "wires": [
      [
        "e99bac3c"
      ]
    ]
  },
  {
    "id": "e99bac3c",
    "type": "function",
    "z": "1be660f9",
    "name": "extract",
    "func": "msg.payload = (msg.payload.temperature ?? 'N/A') + '\u00b0C  ' + (msg.payload.humidity ?? 'N/A') + '%'; return msg;",
    "outputs": 1,
    "x": 300,
    "y": 620,
    "wires": [
      [
        "e703e05a"
      ]
    ]
  },
  {
    "id": "e703e05a",
    "type": "ui-text",
    "z": "1be660f9",
    "group": "628fe72e",
    "order": 1,
    "width": 3,
    "height": 1,
    "name": "Outdoor Temp / RH",
    "label": "Outdoor Temp / RH",
    "format": "{{msg.payload}}",
    "layout": "row-left",
    "x": 480,
    "y": 620,
    "wires": []
  },
  {
    "id": "07ef2e0e",
    "type": "mqtt in",
    "z": "1be660f9",
    "name": "thermostat",
    "topic": "zigbee2mqtt/ac-thermostat",
    "datatype": "json",
    "broker": "476ae883",
    "inputs": 0,
    "x": 100,
    "y": 680,
    "wires": [
      [
        "c335076a"
      ]
    ]
  },
  {
    "id": "c335076a",
    "type": "function",
    "z": "1be660f9",
    "name": "extract",
    "func": "msg.payload = (msg.payload.local_temperature ?? 'N/A') + '\u00b0C'; return msg;",
    "outputs": 1,
    "x": 300,
    "y": 680,
    "wires": [
      [
        "5f9c78c3"
      ]
    ]
  },
  {
    "id": "5f9c78c3",
    "type": "ui-text",
    "z": "1be660f9",
    "group": "628fe72e",
    "order": 2,
    "width": 3,
    "height": 1,
    "name": "AC Room Temp",
    "label": "AC Room Temp",
    "format": "{{msg.payload}}",
    "layout": "row-left",
    "x": 480,
    "y": 680,
    "wires": []
  },
  {
    "id": "a5ca9e56",
    "type": "mqtt in",
    "z": "1be660f9",
    "name": "vibration",
    "topic": "zigbee2mqtt/0xa4c138b53c1c52c4",
    "datatype": "json",
    "broker": "476ae883",
    "inputs": 0,
    "x": 100,
    "y": 740,
    "wires": [
      [
        "3854bb88"
      ]
    ]
  },
  {
    "id": "3854bb88",
    "type": "function",
    "z": "1be660f9",
    "name": "extract",
    "func": "msg.payload = 'vib:' + (msg.payload.vibration ? 'YES' : 'no') + '  contact:' + (msg.payload.contact ? 'open' : 'closed'); return msg;",
    "outputs": 1,
    "x": 300,
    "y": 740,
    "wires": [
      [
        "9b2558cf"
      ]
    ]
  },
  {
    "id": "9b2558cf",
    "type": "ui-text",
    "z": "1be660f9",
    "group": "628fe72e",
    "order": 3,
    "width": 3,
    "height": 1,
    "name": "Vibration / Contact",
    "label": "Vibration / Contact",
    "format": "{{msg.payload}}",
    "layout": "row-left",
    "x": 480,
    "y": 740,
    "wires": []
  },
  {
    "id": "ae61b2a3",
    "type": "http in",
    "z": "27273867",
    "method": "get",
    "url": "/probe",
    "x": 100,
    "y": 900,
    "wires": [
      [
        "ae3bd94b"
      ]
    ]
  },
  {
    "id": "ae3bd94b",
    "type": "http response",
    "z": "27273867",
    "statusCode": 200,
    "x": 300,
    "y": 900,
    "wires": []
  },
  {
    "id": "light_control_tab",
    "type": "tab",
    "label": "Light Control Logic",
    "disabled": false,
    "info": "Automatic Lux and Manual Override Control Logic for SmartHouse Lights (LR-LUTV, MB-LOB, MB-LOTV, TER-LIGHTS)"
  },
  {
    "id": "db_startup_inject",
    "type": "inject",
    "z": "light_control_tab",
    "name": "Once on Startup",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": true,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 130,
    "y": 80,
    "wires": [
      [
        "db_startup_query"
      ]
    ]
  },
  {
    "id": "db_startup_query",
    "type": "function",
    "z": "light_control_tab",
    "name": "SQL: Select Initial States",
    "func": "msg.payload = \"SELECT json_agg(t) FROM (SELECT code, state, locked, locked_until_utc FROM main.appliance WHERE code IN ('LR-LUTV', 'MB-LOB', 'MB-LOTV', 'TER-LIGHTS')) t;\";\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 370,
    "y": 80,
    "wires": [
      [
        "db_startup_exec"
      ]
    ]
  },
  {
    "id": "db_startup_exec",
    "type": "exec",
    "z": "light_control_tab",
    "command": "PGPASSWORD=smarthouse psql -h 192.168.0.201 -p 24870 -U smarthouse -d smarthouse -t -A -c",
    "addpay": true,
    "append": "",
    "useSpawn": "false",
    "timer": "",
    "winHide": false,
    "oldrc": false,
    "name": "Exec: psql startup query",
    "x": 630,
    "y": 80,
    "wires": [
      [
        "db_startup_sync"
      ],
      [],
      []
    ]
  },
  {
    "id": "db_startup_sync",
    "type": "function",
    "z": "light_control_tab",
    "name": "Parse & Sync States",
    "func": "try {\n    let raw = msg.payload.trim();\n    if (!raw || raw === \"null\") {\n        node.warn(\"Startup sync: DB returned no data\");\n        return null;\n    }\n    let rows = JSON.parse(raw);\n    let states = flow.get(\"light_states\") || {};\n    for (let row of rows) {\n        let lockedUntil = null;\n        if (row.locked_until_utc) {\n            lockedUntil = new Date(row.locked_until_utc + \"Z\").getTime();\n        }\n        states[row.code] = {\n            state: row.state,\n            locked: row.locked === true || row.locked === 't',\n            lockedUntil: lockedUntil,\n            lastCommandedState: null\n        };\n    }\n    flow.set(\"light_states\", states);\n    node.log(\"Synced states from DB: \" + JSON.stringify(states));\n} catch(e) {\n    node.error(\"Failed to parse DB sync payload: \" + e.message + \". Payload: \" + msg.payload);\n}\nreturn null;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 870,
    "y": 80,
    "wires": [
      []
    ]
  },
  {
    "id": "mqtt_in_outdoor_lux",
    "type": "mqtt in",
    "z": "light_control_tab",
    "name": "Outdoor Lux Sensor In",
    "topic": "zigbee2mqtt/mb-lis-outdoor",
    "qos": "2",
    "datatype": "json",
    "broker": "476ae883",
    "inputs": 0,
    "x": 140,
    "y": 180,
    "wires": [
      [
        "lux_rolling_average"
      ]
    ]
  },
  {
    "id": "lux_rolling_average",
    "type": "function",
    "z": "light_control_tab",
    "name": "Calculate 5-Min Rolling Average",
    "func": "let lux = msg.payload.illuminance;\nif (lux === undefined || lux === null) {\n    return null;\n}\nlux = parseFloat(lux);\nlet buffer = flow.get(\"lux_buffer\") || [];\nlet now = Date.now();\nbuffer.push({ time: now, value: lux });\n\n// Keep last 5 minutes (300,000 ms)\nbuffer = buffer.filter(item => now - item.time <= 300000);\nflow.set(\"lux_buffer\", buffer);\n\n// Calculate average\nlet sum = buffer.reduce((acc, val) => acc + val.value, 0);\nlet avg = sum / buffer.length;\nflow.set(\"outdoor_lux_avg\", avg);\nglobal.set(\"outdoor_lux_avg\", avg);\n\nmsg.payload = {\n    lux: lux,\n    avg: avg,\n    buffer_size: buffer.length\n};\nreturn msg;\n",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 410,
    "y": 180,
    "wires": [
      [
        "debug_lux_average"
      ]
    ]
  },
  {
    "id": "debug_lux_average",
    "type": "debug",
    "z": "light_control_tab",
    "name": "Debug Lux Avg",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 660,
    "y": 180,
    "wires": []
  },
  {
    "id": "db_exec_node",
    "type": "exec",
    "z": "light_control_tab",
    "command": "PGPASSWORD=smarthouse psql -h 192.168.0.201 -p 24870 -U smarthouse -d smarthouse -t -A -c",
    "addpay": true,
    "append": "",
    "useSpawn": "false",
    "timer": "",
    "winHide": false,
    "oldrc": false,
    "name": "Exec: psql update & event",
    "x": 890,
    "y": 300,
    "wires": [
      [],
      [],
      []
    ]
  },
  {
    "id": "dynamic_mqtt_out",
    "type": "mqtt out",
    "z": "light_control_tab",
    "name": "Dynamic MQTT Out",
    "topic": "",
    "qos": "0",
    "retain": false,
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "476ae883",
    "x": 890,
    "y": 420,
    "wires": []
  },
  {
    "id": "pwr_control_inject",
    "type": "inject",
    "z": "light_control_tab",
    "name": "Every 10 Seconds",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "10",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 130,
    "y": 420,
    "wires": [
      [
        "pwr_control_engine"
      ]
    ]
  },
  {
    "id": "pwr_control_engine",
    "type": "function",
    "z": "light_control_tab",
    "name": "Power Control Engine",
    "func": "const LAT = 25.76;\nconst LNG = -80.19;\n\nfunction calculateSunTimes(date) {\n    const radians = Math.PI / 180;\n    const degrees = 180 / Math.PI;\n    const start = new Date(date.getFullYear(), 0, 0);\n    const diff = date - start;\n    const oneDay = 1000 * 60 * 60 * 24;\n    const day = Math.floor(diff / oneDay);\n    const lngHour = LNG / 15;\n    \n    function getSunriseSunsetTime(isSunrise) {\n        const t = day + ((isSunrise ? 6 : 18) - lngHour) / 24;\n        const M = 0.9856 * t - 3.289;\n        let L = M + 1.916 * Math.sin(M * radians) + 0.020 * Math.sin(2 * M * radians) + 282.634;\n        L = (L + 360) % 360;\n        let RA = degrees * Math.atan(0.91764 * Math.tan(L * radians));\n        RA = (RA + 360) % 360;\n        const Lquadrant = Math.floor(L / 90) * 90;\n        const RAquadrant = Math.floor(RA / 90) * 90;\n        RA = RA + (Lquadrant - RAquadrant);\n        RA = RA / 15;\n        const sinDec = 0.39782 * Math.sin(L * radians);\n        const cosDec = Math.cos(Math.asin(sinDec));\n        const zenith = 90.8333;\n        const cosH = (Math.cos(zenith * radians) - sinDec * Math.sin(LAT * radians)) / (cosDec * Math.cos(LAT * radians));\n        if (cosH > 1 || cosH < -1) return null;\n        const H = (isSunrise ? 360 - degrees * Math.acos(cosH) : degrees * Math.acos(cosH)) / 15;\n        const T = H + RA - 0.06571 * t - 6.622;\n        let UT = T - lngHour;\n        UT = (UT + 24) % 24;\n        const utDate = new Date(Date.UTC(date.getFullYear(), date.getMonth(), date.getDate(), 0, 0, 0));\n        utDate.setUTCHours(Math.floor(UT));\n        utDate.setUTCMinutes(Math.floor((UT % 1) * 60));\n        utDate.setUTCSeconds(Math.floor((((UT % 1) * 60) % 1) * 60));\n        return utDate;\n    }\n    return { sunrise: getSunriseSunsetTime(true), sunset: getSunriseSunsetTime(false) };\n}\n\nlet states = flow.get(\"light_states\");\nif (!states) return null;\n\nconst avgLux = flow.get(\"outdoor_lux_avg\");\nconst now = Date.now();\nconst nowStr = new Date().toISOString().replace('T', ' ').replace('Z', '');\nlet sqlTx = \"BEGIN;\\n\";\nlet hasSql = false;\nlet mqttMsgs = [];\n\nconst lightConfigs = {\n    \"LR-LUTV\": { setting: 74.75, dimmable: true, powerSetting: null },\n    \"MB-LOB\": { setting: 75.0, dimmable: true, powerSetting: 76 },\n    \"MB-LOTV\": { setting: 75.0, dimmable: true, powerSetting: 76 },\n    \"TER-LIGHTS\": { setting: 75.0, dimmable: false, powerSetting: null }\n};\n\nfor (let code of Object.keys(lightConfigs)) {\n    let light = states[code];\n    if (!light) continue;\n    \n    // 1. Check lock expiry\n    if (light.locked && light.lockedUntil && now > light.lockedUntil) {\n        const wasLockedUntilStr = new Date(light.lockedUntil).toISOString();\n        light.locked = false;\n        light.lockedUntil = null;\n        \n        sqlTx += `UPDATE main.appliance SET locked = false, locked_until_utc = NULL WHERE code = '${code}';\\n`;\n        const expiredData = JSON.stringify({ wasLockedUntil: wasLockedUntilStr }).replace(/'/g, \"''\");\n        sqlTx += `INSERT INTO main.event (utc_time, type, device, data) VALUES ('${nowStr}', 'lock.expired', '${code}', '${expiredData}');\\n`;\n        hasSql = true;\n    }\n    \n    // 2. Automated Lux Control\n    if (!light.locked && avgLux !== undefined && avgLux !== null) {\n        const cfg = lightConfigs[code];\n        const setting = cfg.setting;\n        let decision = null;\n        \n        if (avgLux < setting - 25) {\n            decision = \"ON\";\n        } else if (avgLux > setting + 25) {\n            decision = \"OFF\";\n        }\n        \n        if (decision !== null) {\n            const stateChanged = (light.state !== decision);\n            const eventType = stateChanged ? \"pwr-control.trigger\" : \"pwr-control.check\";\n            \n            const pwrData = JSON.stringify({\n                decision: decision.toLowerCase(),\n                avg: parseFloat(avgLux.toFixed(2)),\n                setting: setting,\n                hysteresisOn: 25,\n                hysteresisOff: 25\n            }).replace(/'/g, \"''\");\n            sqlTx += `INSERT INTO main.event (utc_time, type, device, data) VALUES ('${nowStr}', '${eventType}', '${code}', '${pwrData}');\\n`;\n            hasSql = true;\n            \n            if (stateChanged) {\n                light.state = decision;\n                light.lastCommandedState = decision;\n                \n                sqlTx += `UPDATE main.appliance SET state = '${decision}' WHERE code = '${code}';\\n`;\n                const switchData = JSON.stringify({ state: decision, source: \"pwr-control\" }).replace(/'/g, \"''\");\n                sqlTx += `INSERT INTO main.event (utc_time, type, device, data) VALUES ('${nowStr}', 'switch', '${code}', '${switchData}');\\n`;\n                \n                formatMqttMsg(code, decision);\n            }\n        }\n    }\n}\n\nfunction formatMqttMsg(code, state) {\n    const cfg = lightConfigs[code];\n    let topic = `zigbee2mqtt/${code}/set`;\n    let payload = {};\n    \n    // Server runs in America/New_York (formatter to get local hour)\n    const nowHour = new Date(new Date().toLocaleString(\"en-US\", {timeZone: \"America/New_York\"})).getHours();\n    \n    if (code === \"LR-LUTV\" && (nowHour < 7 || nowHour > 21)) {\n        payload = {\n            state: \"on\",\n            brightness: (state === \"ON\" ? 160 : 20)\n        };\n    } else {\n        if (state === \"ON\") {\n            payload.state = \"on\";\n            if (cfg.dimmable) {\n                payload.brightness = cfg.powerSetting ? Math.floor(255 * (cfg.powerSetting / 100)) : 160;\n            }\n        } else {\n            payload.state = \"off\";\n        }\n    }\n    \n    mqttMsgs.push({ topic: topic, payload: JSON.stringify(payload) });\n    if (code === \"TER-LIGHTS\") {\n        mqttMsgs.push({ topic: \"zigbee2mqtt/WRKTABLE/set\", payload: JSON.stringify(payload) });\n    }\n}\n\nflow.set(\"light_states\", states);\n\nif (hasSql) {\n    sqlTx += \"COMMIT;\";\n    node.send([ { payload: sqlTx }, null ]);\n}\n\nif (mqttMsgs.length > 0) {\n    for (let m of mqttMsgs) {\n        node.send([ null, m ]);\n    }\n}\nreturn null;\n",
    "outputs": 2,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 380,
    "y": 420,
    "wires": [
      [
        "db_exec_node"
      ],
      [
        "dynamic_mqtt_out"
      ]
    ]
  },
  {
    "id": "mqtt_in_status_lr_lutv",
    "type": "mqtt in",
    "z": "light_control_tab",
    "name": "LR-LUTV Status In",
    "topic": "zigbee2mqtt/LR-LUTV",
    "qos": "2",
    "datatype": "json",
    "broker": "476ae883",
    "inputs": 0,
    "x": 130,
    "y": 240,
    "wires": [
      [
        "physical_switch_handler"
      ]
    ]
  },
  {
    "id": "mqtt_in_status_mb_lob",
    "type": "mqtt in",
    "z": "light_control_tab",
    "name": "MB-LOB Status In",
    "topic": "zigbee2mqtt/MB-LOB",
    "qos": "2",
    "datatype": "json",
    "broker": "476ae883",
    "inputs": 0,
    "x": 130,
    "y": 280,
    "wires": [
      [
        "physical_switch_handler"
      ]
    ]
  },
  {
    "id": "mqtt_in_status_mb_lotv",
    "type": "mqtt in",
    "z": "light_control_tab",
    "name": "MB-LOTV Status In",
    "topic": "zigbee2mqtt/MB-LOTV",
    "qos": "2",
    "datatype": "json",
    "broker": "476ae883",
    "inputs": 0,
    "x": 130,
    "y": 320,
    "wires": [
      [
        "physical_switch_handler"
      ]
    ]
  },
  {
    "id": "mqtt_in_status_ter_lights",
    "type": "mqtt in",
    "z": "light_control_tab",
    "name": "TER-LIGHTS Status In",
    "topic": "zigbee2mqtt/TER-LIGHTS",
    "qos": "2",
    "datatype": "json",
    "broker": "476ae883",
    "inputs": 0,
    "x": 130,
    "y": 360,
    "wires": [
      [
        "physical_switch_handler"
      ]
    ]
  },
  {
    "id": "physical_switch_handler",
    "type": "function",
    "z": "light_control_tab",
    "name": "Physical Switch override",
    "func": "const topic = msg.topic;\nconst parts = topic.split(\"/\");\nconst code = parts[1];\nconst payload = msg.payload;\n\nif (!payload || !payload.state) return null;\n\nconst newState = payload.state.toUpperCase();\nlet states = flow.get(\"light_states\");\nif (!states) return null;\n\nlet light = states[code];\nif (!light) return null;\n\nif (light.lastCommandedState === newState) {\n    light.state = newState;\n    light.lastCommandedState = null;\n    flow.set(\"light_states\", states);\n    return null;\n}\n\nconst oldState = light.state;\nconst oldLocked = light.locked;\nconst oldLockedUntil = light.lockedUntil;\n\nlight.state = newState;\n\n// Astro math calculations\nconst LAT = 25.76;\nconst LNG = -80.19;\n\nfunction calculateSunTimes(date) {\n    const radians = Math.PI / 180;\n    const degrees = 180 / Math.PI;\n    const start = new Date(date.getFullYear(), 0, 0);\n    const diff = date - start;\n    const oneDay = 1000 * 60 * 60 * 24;\n    const day = Math.floor(diff / oneDay);\n    const lngHour = LNG / 15;\n    \n    function getSunriseSunsetTime(isSunrise) {\n        const t = day + ((isSunrise ? 6 : 18) - lngHour) / 24;\n        const M = 0.9856 * t - 3.289;\n        let L = M + 1.916 * Math.sin(M * radians) + 0.020 * Math.sin(2 * M * radians) + 282.634;\n        L = (L + 360) % 360;\n        let RA = degrees * Math.atan(0.91764 * Math.tan(L * radians));\n        RA = (RA + 360) % 360;\n        const Lquadrant = Math.floor(L / 90) * 90;\n        const RAquadrant = Math.floor(RA / 90) * 90;\n        RA = RA + (Lquadrant - RAquadrant);\n        RA = RA / 15;\n        const sinDec = 0.39782 * Math.sin(L * radians);\n        const cosDec = Math.cos(Math.asin(sinDec));\n        const zenith = 90.8333;\n        const cosH = (Math.cos(zenith * radians) - sinDec * Math.sin(LAT * radians)) / (cosDec * Math.cos(LAT * radians));\n        if (cosH > 1 || cosH < -1) return null;\n        const H = (isSunrise ? 360 - degrees * Math.acos(cosH) : degrees * Math.acos(cosH)) / 15;\n        const T = H + RA - 0.06571 * t - 6.622;\n        let UT = T - lngHour;\n        UT = (UT + 24) % 24;\n        const utDate = new Date(Date.UTC(date.getFullYear(), date.getMonth(), date.getDate(), 0, 0, 0));\n        utDate.setUTCHours(Math.floor(UT));\n        utDate.setUTCMinutes(Math.floor((UT % 1) * 60));\n        utDate.setUTCSeconds(Math.floor((((UT % 1) * 60) % 1) * 60));\n        return utDate;\n    }\n    return { sunrise: getSunriseSunsetTime(true), sunset: getSunriseSunsetTime(false) };\n}\n\nfunction getWakeUpTime() {\n    const now = new Date();\n    const formatter = new Intl.DateTimeFormat('en-US', {\n        timeZone: 'America/New_York',\n        year: 'numeric', month: 'numeric', day: 'numeric',\n        hour: 'numeric', minute: 'numeric', second: 'numeric',\n        hour12: false, weekday: 'short'\n    });\n    \n    const parts = formatter.formatToParts(now);\n    const partMap = Object.fromEntries(parts.map(p => [p.type, p.value]));\n    \n    const weekday = partMap.weekday;\n    const isWeekend = weekday === \"Sat\" || weekday === \"Sun\";\n    \n    const targetHour = isWeekend ? 8 : 6;\n    const targetMinute = isWeekend ? 0 : 55;\n    \n    let targetDate = new Date(now.toLocaleString(\"en-US\", { timeZone: \"America/New_York\" }));\n    targetDate.setHours(targetHour, targetMinute, 0, 0);\n    const targetEpoch = targetDate.getTime();\n    \n    let resultDate = new Date(now.getTime() + (targetEpoch - new Date(now.toLocaleString(\"en-US\", { timeZone: \"America/New_York\" })).getTime()));\n    \n    if (now >= resultDate) {\n        const nextDay = new Date(now.getTime() + 24 * 60 * 60 * 1000);\n        const nextParts = formatter.formatToParts(nextDay);\n        const nextPartMap = Object.fromEntries(nextParts.map(p => [p.type, p.value]));\n        const nextWeekday = nextPartMap.weekday;\n        const nextIsWeekend = nextWeekday === \"Sat\" || nextWeekday === \"Sun\";\n        const nextHour = nextIsWeekend ? 8 : 6;\n        const nextMinute = nextIsWeekend ? 0 : 55;\n        \n        let nextTargetDate = new Date(nextDay.toLocaleString(\"en-US\", { timeZone: \"America/New_York\" }));\n        nextTargetDate.setHours(nextHour, nextMinute, 0, 0);\n        resultDate = new Date(nextDay.getTime() + (nextTargetDate.getTime() - new Date(nextDay.toLocaleString(\"en-US\", { timeZone: \"America/New_York\" })).getTime()));\n    }\n    return resultDate;\n}\n\nconst now = new Date();\nconst sunTimes = calculateSunTimes(now);\nconst isDark = now < sunTimes.sunrise || now > sunTimes.sunset;\n\nlet locked = light.locked;\nlet lockedUntil = light.lockedUntil;\nlet rule = 0;\nlet lockChanged = false;\n\nif (isDark) {\n    if (newState === \"OFF\") {\n        const wakeUp = getWakeUpTime().getTime();\n        if (!locked || !lockedUntil || lockedUntil < wakeUp) {\n            locked = true;\n            lockedUntil = wakeUp;\n            lockChanged = true;\n            rule = 1;\n        }\n    } else {\n        if (locked) {\n            locked = false;\n            lockedUntil = null;\n            lockChanged = true;\n            rule = 2;\n        }\n    }\n} else {\n    if (newState === \"OFF\") {\n        if (locked) {\n            locked = false;\n            lockedUntil = null;\n            lockChanged = true;\n            rule = 4;\n        }\n    } else {\n        locked = true;\n        const sunsetPlus1 = new Date(sunTimes.sunset.getTime() + 60*60*1000).getTime();\n        lockedUntil = sunsetPlus1;\n        lockChanged = true;\n        rule = 4;\n    }\n}\n\nif (locked !== oldLocked || lockedUntil !== oldLockedUntil) {\n    lockChanged = true;\n}\n\nlight.locked = locked;\nlight.lockedUntil = lockedUntil;\nflow.set(\"light_states\", states);\n\n// SQL update and event logging\nconst nowStr = new Date().toISOString().replace('T', ' ').replace('Z', '');\nconst lockedUntilSql = lockedUntil ? `'${new Date(lockedUntil).toISOString().replace('T', ' ').replace('Z', '')}'` : 'NULL';\n\nlet sqlTx = `BEGIN;\\nUPDATE main.appliance SET state = '${newState}', locked = ${locked}, locked_until_utc = ${lockedUntilSql} WHERE code = '${code}';\\n`;\n\nconst switchData = JSON.stringify({ state: newState, source: topic }).replace(/'/g, \"''\");\nsqlTx += `INSERT INTO main.event (utc_time, type, device, mqtt_topic, data) VALUES ('${nowStr}', 'switch', '${code}', '${topic}', '${switchData}');\\n`;\n\nif (lockChanged) {\n    if (locked) {\n        const lockData = JSON.stringify({ until: new Date(lockedUntil).toISOString(), rule: rule }).replace(/'/g, \"''\");\n        sqlTx += `INSERT INTO main.event (utc_time, type, device, data) VALUES ('${nowStr}', 'locked-until', '${code}', '${lockData}');\\n`;\n    } else {\n        const unlockData = JSON.stringify({ rule: rule }).replace(/'/g, \"''\");\n        sqlTx += `INSERT INTO main.event (utc_time, type, device, data) VALUES ('${nowStr}', 'unlocked', '${code}', '${unlockData}');\\n`;\n    }\n}\nsqlTx += \"COMMIT;\";\n\n// Format dynamic MQTT set\nconst lightConfigs = {\n    \"LR-LUTV\": { dimmable: true, powerSetting: null },\n    \"MB-LOB\": { dimmable: true, powerSetting: 76 },\n    \"MB-LOTV\": { dimmable: true, powerSetting: 76 },\n    \"TER-LIGHTS\": { dimmable: false, powerSetting: null }\n};\nconst cfg = lightConfigs[code];\nlet mqttMsgs = [];\nlet setTopic = `zigbee2mqtt/${code}/set`;\nlet mqttPayload = {};\n\nconst nowHour = new Date(new Date().toLocaleString(\"en-US\", {timeZone: \"America/New_York\"})).getHours();\n\nif (code === \"LR-LUTV\" && (nowHour < 7 || nowHour > 21)) {\n    mqttPayload = {\n        state: \"on\",\n        brightness: (newState === \"ON\" ? 160 : 20)\n    };\n} else {\n    if (newState === \"ON\") {\n        mqttPayload.state = \"on\";\n        if (cfg.dimmable) {\n            mqttPayload.brightness = cfg.powerSetting ? Math.floor(255 * (cfg.powerSetting / 100)) : 160;\n        }\n    } else {\n        mqttPayload.state = \"off\";\n    }\n}\n\nmqttMsgs.push({ topic: setTopic, payload: JSON.stringify(mqttPayload) });\nif (code === \"TER-LIGHTS\") {\n    mqttMsgs.push({ topic: \"zigbee2mqtt/WRKTABLE/set\", payload: JSON.stringify(mqttPayload) });\n}\n\nnode.send([ { payload: sqlTx }, null ]);\nfor (let m of mqttMsgs) {\n    node.send([ null, m ]);\n}\nreturn null;\n",
    "outputs": 2,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 410,
    "y": 300,
    "wires": [
      [
        "db_exec_node"
      ],
      [
        "dynamic_mqtt_out"
      ]
    ]
  },
  {
    "id": "daily_10pm_inject",
    "type": "inject",
    "z": "light_control_tab",
    "name": "Daily at 10 PM America/New_York",
    "props": [],
    "repeat": "",
    "crontab": "00 22 * * *",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payloadType": "date",
    "x": 170,
    "y": 520,
    "wires": [
      [
        "daily_10pm_processor"
      ]
    ]
  },
  {
    "id": "daily_10pm_processor",
    "type": "function",
    "z": "light_control_tab",
    "name": "10 PM Group OFF Handler",
    "func": "let states = flow.get(\"light_states\");\nif (!states) return null;\n\nconst nowStr = new Date().toISOString().replace('T', ' ').replace('Z', '');\nlet sqlTx = \"BEGIN;\\n\";\n\nconst affected = [\"LR-LUTV\", \"MB-LOB\", \"MB-LOTV\", \"TER-LIGHTS\"];\n\nfor (let code of affected) {\n    let light = states[code];\n    if (!light) continue;\n    \n    light.state = \"OFF\";\n    \n    const now = new Date();\n    const formatter = new Intl.DateTimeFormat('en-US', {\n        timeZone: 'America/New_York',\n        year: 'numeric', month: 'numeric', day: 'numeric',\n        hour: 'numeric', minute: 'numeric', second: 'numeric',\n        hour12: false, weekday: 'short'\n    });\n    const parts = formatter.formatToParts(now);\n    const partMap = Object.fromEntries(parts.map(p => [p.type, p.value]));\n    const weekday = partMap.weekday;\n    const isWeekend = weekday === \"Sat\" || weekday === \"Sun\";\n    const targetHour = isWeekend ? 8 : 6;\n    const targetMinute = isWeekend ? 0 : 55;\n    \n    let targetDate = new Date(now.toLocaleString(\"en-US\", { timeZone: \"America/New_York\" }));\n    targetDate.setHours(targetHour, targetMinute, 0, 0);\n    const targetEpoch = targetDate.getTime();\n    let wakeUp = new Date(now.getTime() + (targetEpoch - new Date(now.toLocaleString(\"en-US\", { timeZone: \"America/New_York\" })).getTime())).getTime();\n    if (now.getTime() >= wakeUp) {\n        wakeUp += 24 * 60 * 60 * 1000;\n    }\n    \n    if (!light.locked || !light.lockedUntil || light.lockedUntil < wakeUp) {\n        light.locked = true;\n        light.lockedUntil = wakeUp;\n        \n        const lockedUntilSql = `'${new Date(wakeUp).toISOString().replace('T', ' ').replace('Z', '')}'`;\n        sqlTx += `UPDATE main.appliance SET state = 'OFF', locked = true, locked_until_utc = ${lockedUntilSql} WHERE code = '${code}';\\n`;\n        const lockData = JSON.stringify({ until: new Date(wakeUp).toISOString(), rule: 1 }).replace(/'/g, \"''\");\n        sqlTx += `INSERT INTO main.event (utc_time, type, device, data) VALUES ('${nowStr}', 'locked-until', '${code}', '${lockData}');\\n`;\n    } else {\n        sqlTx += `UPDATE main.appliance SET state = 'OFF' WHERE code = '${code}';\\n`;\n        const preserveData = JSON.stringify({ existing: new Date(light.lockedUntil).toISOString(), attempted: new Date(wakeUp).toISOString() }).replace(/'/g, \"''\");\n        sqlTx += `INSERT INTO main.event (utc_time, type, device, data) VALUES ('${nowStr}', 'lock.preserved', '${code}', '${preserveData}');\\n`;\n    }\n    \n    const switchData = JSON.stringify({ state: \"OFF\", source: \"turn off hours setting\" }).replace(/'/g, \"''\");\n    sqlTx += `INSERT INTO main.event (utc_time, type, device, data) VALUES ('${nowStr}', 'switch', '${code}', '${switchData}');\\n`;\n    \n    let topic = `zigbee2mqtt/${code}/set`;\n    let mqttPayload = {};\n    if (code === \"LR-LUTV\") {\n        mqttPayload = { state: \"on\", brightness: 20 };\n    } else {\n        mqttPayload = { state: \"off\" };\n    }\n    \n    node.send([ null, { topic: topic, payload: JSON.stringify(mqttPayload) } ]);\n    if (code === \"TER-LIGHTS\") {\n        node.send([ null, { topic: \"zigbee2mqtt/WRKTABLE/set\", payload: JSON.stringify(mqttPayload) } ]);\n    }\n}\n\nconst groupData = JSON.stringify({ hour: 22, appliances: affected }).replace(/'/g, \"''\");\nsqlTx += `INSERT INTO main.event (utc_time, type, data) VALUES ('${nowStr}', 'group.ALGHTS.turn-off-hours.triggered', '${groupData}');\\n`;\n\nsqlTx += \"COMMIT;\";\n\nflow.set(\"light_states\", states);\nnode.send([ { payload: sqlTx }, null ]);\nreturn null;\n",
    "outputs": 2,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 420,
    "y": 520,
    "wires": [
      [
        "db_exec_node"
      ],
      [
        "dynamic_mqtt_out"
      ]
    ]
  }
]